<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('links') %>
    <link rel="stylesheet" href="/styles/login.css" />
    <title>Login</title>
  </head>

  <body>
    <%- include('navbar') %>
    <div class="background"></div>
    <div class="cont">
      <div class="login-container">
        <h2><i class="fa-solid fa-lock"></i> Login</h2>
        <% if(invalid) {%>
        <div style="color: red; padding-bottom: 10px">
          Invalid Username or Password !!
        </div>
        <% } %> <% if(success) {%>
        <div style="color: green; padding-bottom: 10px">
          Your account is created successfully !!!
        </div>
        <% } %>
        <form action="/auth/login" method="post">
          <input type="text" name="username" placeholder="Username" required />
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <input type="submit" value="Login" />
          <br />
          <hr />
          <div class="slink">
            <a class="Create" href="/auth/signup">Create Account ?</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
