* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #f2f2f2;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.navbar-brand span {
  font-weight: bold;
}
.navbar-links {
  text-align: center;
}
.navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navbar-links li {
  padding: 0 15px;
}
.navbar-links a {
  color: rgb(66, 66, 66);
  text-decoration: none;
  font-weight: 700;
}
.navbar-links a:hover {
  color: rgb(0, 0, 0);
}

.navbar-logout a {
  color: rgb(255, 255, 255);
}

.button {
  padding: 10px 20px;
  text-decoration: none;
  width: 150px;

}

@media screen and (max-width: 600px) {
  .navbar-links {
    display: none;
  }
  .navbar-links.show {
    display: block;
  }
  .navbar-links ul {
    flex-direction: column;
  }
  .navbar-links li {
    padding: 10px 0;
  }
  .logout-button {
    text-align: center;
    padding: 10px 0;
  }
}

.navbar-nav .nav-link {
  color: #fff;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
}
